<html>
<heaad>
  <link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>
  <link rel="stylesheet" href="https:/cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css" />
</heaad>

<body>

  <h1>Edit your account</h1>
  <hr>
  <h2>Your avatar</h2>

  <input type="file" multiple id="file-input" text="hello">
  <p id="status">Please select a file</p>

  <form action="{{url_for('show')}}">
    <input type="hidden" id="avatar-url" name="avatar-url" value="/static/media/default.png">
    <progress id="progress"></progress>
    <p id="message"></p>
    <hr>
    <h2>Save changes</h2>

    <input type="submit" value="Show files">
  </form>

  <script type="text/javascript">

    let count = 0

    function uploadFile(file, s3Data, url) {
      start_loading();
      function start_loading() {
        const postData = new FormData();
        for (key in s3Data.fields) {
          postData.append(key, s3Data.fields[key]);
        }
        postData.append('file', file);
        const xhr = new XMLHttpRequest();
        xhr.upload.onloadstart = function (e) {
          $("#progress").attr({
            "value": 0,
            "max": e.total
          })
        }
        xhr.upload.onprogress = function (e) {
          if (e.lengthComputable) {
            $("#progress").attr({
              "value": e.loaded,
              "max": e.total
            })
          }
        }
        xhr.upload.onloadend = function (e) {
        }

        xhr.open('POST', s3Data.url, true);
        xhr.onreadystatechange = () => {
          if (xhr.readyState === 4) {
            if (xhr.status === 200 || xhr.status === 204) {
              count += 1
              $("#message").html(count + " file has been uploaded!")
            }
            else {
              alert('Could not upload file.');
            }
          }
        };
        xhr.send(postData);
      }
    }

    function getSignedRequest(file) {
      $.ajax({
        type: 'GET',
        url: `/sign-s3?file-name=${file.name}&file-type=${file.type}`,
        success: function (data) {
          response = JSON.parse(data)
          uploadFile(file, response.data, response.url)
        },
        error: function (err) {
          alert(err)
        }
      })
    }

    function initUpload() {
      const files = document.getElementById('file-input').files;
      const file = files
      if (!file) {
        return alert('No file selected.');
      }
      for (let i = 0; i < file.length; i++) {
        getSignedRequest(file[i]);
      }
    }

    (() => {
      document.getElementById('file-input').onchange = initUpload;
    })();

  </script>
</body>

</html>