<html>
<heaad>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</heaad>

<body>

  <h1>Edit your account</h1>

  <hr>

  <h2>Your avatar</h2>

  <input type="file" multiple id="file-input">
  <p id="status">Please select a file</p>

  <form method="POST" action="/submit-form/">
    <input type="hidden" id="avatar-url" name="avatar-url" value="/static/media/default.png">
    <progress id="progress"></progress>
    <p id="message"></p>
    <hr>
    <h2>Save changes</h2>

    <input type="submit" value="Update profile">
  </form>

  <script type="text/javascript">

    // unable to change it to ajax
    // function uploadFile(file, s3Data, url) {
    //   const postData = new FormData()
    //   for (key in s3Data.fields) {
    //     postData.append(key, s3Data.fields[key])
    //   }
    //   postData.append('file', file)
    //   debugger

    //   $.ajax({
    //     type: 'POST',
    //     url: s3Data.url,
    //     data: postData,
    //     success: function (data) {
    //       debugger
    //       alert(data)
    //       document.getElementById('preview').src = url;
    //       ('#avatar-url').value = url;
    //     },
    //     error: function (error) {
    //       alert(error)

    //     }

    //   })
    // }
    function uploadFile(file, s3Data, url) {

      start_loading();
      function start_loading() {
        const postData = new FormData();
        for (key in s3Data.fields) {
          postData.append(key, s3Data.fields[key]);
        }
        postData.append('file', file);
        const xhr = new XMLHttpRequest();
        let progress = document.getElementById('progress')
        let message = document.getElementById('message')
        xhr.upload.onloadstart = function (e) {
          progress.value = 0
          progress.max = e.total
        }
        xhr.upload.onprogress = function (e) {
          if (e.lengthComputable) {
            progress.value = e.loaded
            progress.max = e.total
          }
        }
        xhr.upload.onloadend = function (e) {
        }

        xhr.open('POST', s3Data.url, true);
        xhr.onreadystatechange = () => {
          if (xhr.readyState === 4) {
            if (xhr.status === 200 || xhr.status === 204) {
              return
            }
            else {
              alert('Could not upload file.');
            }
          }
        };
        xhr.send(postData);
      }
    }


    /*
      Function to get the temporary signed request from the Python app.
      If request successful, continue to upload the file using this signed
      request.
    */
    function getSignedRequest(file) {
      $.ajax({
        type: 'GET',
        url: `/sign-s3?file-name=${file.name}&file-type=${file.type}`,
        success: function (data) {
          response = JSON.parse(data)
          uploadFile(file, response.data, response.url)
        },
        error: function (err) {
          alert(err)
        }
      })
    }

    /*
       Function called when file input updated. If there is a file selected, then
       start upload procedure by asking for a signed request from the app.
    */
    function initUpload() {
      const files = document.getElementById('file-input').files;
      const file = files
      if (!file) {
        return alert('No file selected.');
      }
      for (let i = 0; i < file.length; i++) {
        getSignedRequest(file[i]);
      }
    }

    /*
       Bind listeners when the page loads.
    */
    (() => {
      document.getElementById('file-input').onchange = initUpload;
    })();

  </script>
</body>

</html>